"*":
  "autocomplete-plus": {}
  "autocomplete-ruby": {}
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "hashrocket"
      "metrics"
      "racer"
      "react"
      "atom-math"
      "nuclide-format-js"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
      "tmp"
      "ar_doc"
    ]
    telemetryConsent: "no"
    useTreeSitterParsers: true
  editor:
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "253dc01b-14bd-44b3-80e7-9e666b54cf0f"
  "file-icons":
    coloured: false
    onChanges: true
    strategies:
      grammar: false
      hashbangs: false
      linguist: false
      modelines: false
      usertypes: false
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
    ]
  "git-plus": {}
  "go-plus":
    panel:
      currentHeight: "13.615455381784727vh"
    test:
      runTestsOnSave: false
      runTestsWithCoverage: false
  hashrocket: {}
  "highlight-selected": {}
  "language-babel":
    suppressTranspileOnSaveMessages: true
  linter: {}
  "linter-eslint": {}
  "linter-ui-default":
    panelHeight: 72
  "markdown-preview": {}
  "merge-conflicts": {}
  nuclide:
    installRecommendedPackages: true
    "nuclide-working-sets": {}
  react: {}
  "rubocop-auto-correct": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
